In [ ]:
"""
<튜플(tuple)>
 - 튜플은 소괄호() 기호를 사용
 - 출력 결과값이 소괄호()로 묶여 있는 경우에는 대부분 튜플 타입이라고 생각하시면 됩니다.
 -  *** 튜플은 리스트(list0)와 구조 및 사용법이 모두 동일합니다. 기호만 다름
 -  *** 리스트와의 차이점 : 수정 및 삭제만 안됨. 한번 정의된 값들 수정 불가
 -                        : 수정 및 삭제하려면 삭제 후 다시 정의하여 생성해야 합니다.
 - 보통 직접 튜플을 생성하여 사용하는 경우는 많지 않으며, 
   특정 함수의 결과 또는 처리 결과를 튜플 타입으로 제공을 해줍니다.
 - 튜플을 생성할 때 한개의 값만 정의해서 생성할 경우에는 한개의 값 뒤에 콤마(,)를 넣으셔야 합니다.
"""

In [1]:
### 튜플 생성하기
tuple1 = () # 깨끗한 튜플, 실행값 : ()

### 2개 이상의 값을 정의하여 생성
tuple2 = (1,2,3)
tuple2

### 1개의 값만 정의할 때
tuple3 = (1,)
tuple3
# tuple3 = (1) 이렇게 작성할 경우 튜플이 삭제됨 출력 값: 1
# tuple3

(1,)

In [2]:
tuple2[0] # 출력 값 : 1
tuple2[1:] # 출력 값 (2,3)

(2, 3)

for i in range(0,len(tuple2)) :
    print(tuple[i])

In [4]:
for val in tuple2 :
    print(val)

1
2
3

In [3]:
for i in range(0,len(tuple2)) :
    print(tuple[i])

tuple[0]
tuple[1]
tuple[2]

In [6]:
tuple2 = (1,"홍길동",{"name": "이순신"})
tuple2

(1, '홍길동', {'name': '이순신'})

In [7]:
a = 1 
b = 2
c = 3
a,b,c

(1, 2, 3)

In [8]:
tuple2[0] = 66
tuple2

TypeError: 'tuple' object does not support item assignment