In [1]:
"""
<함수(Function, method)>
 - 자주 반복해서 사용해야하는 코드를 미리 하나의 이름으로 정의해 놓은 것
 - 자주 반복해서 사용해야하는 기능, 기능은 함수
 - 자주 반복하지 않더라도, 가끔 사용 또는 코드가 너무 긴 경우 사용

 <함수 작성 순서(정해진 것은 아님)>
 1. 프로그램을 먼저 작성(절차적 테스트)
 2. 오류가 없는 상태로 테스트
 3. 자주 반복해서 사용되는 부분을 하나의 이름으로 별도로 정의(함수 정의)
    - 함수 정의시 가급적 -> 정의된 숫자값은 사용하지 않기 
    - 함수를 정의 규칙 -> 함수 이름은 소문자로 시작합니다.
                       -> 함수 이름 뒤에는 소괄호()가 항상 있습니다.
    - 함수 이름 작명할 때 --> getXxx(), setXxx() Ex) getTotal(), setInsert()
 4. 정의된 함수를 호출하여 사용 (함수 호출.)
 
 ### 프로그램 완성 후 오류가 없는 상태에서 
     반복되는 코드 확인 
     반복되는 코드를 함수로 정의 (ex:def 등 임의의 아무 단어 가능 소문자이고 소괄호를 뒤에 붙이고 괄호 안에 자주 사용되는 코드 입력) 
     Ex: def.hello()
         print(hello world)        -> hello () 출력시 hello world가 나옴

    함수 = 계산기 (자주 사용하고 필요하기에 생성된 계산기)
"""

'\n<함수(Function, method)>\n - 자주 반복해서 사용해야하는 코드를 미리 하나의 이름으로 정의해 놓은 것\n - 자주 반복해서 사용해야하는 기능, 기능은 함수\n - 자주 반복하지 않더라도, 가끔 사용 또는 코드가 너무 긴 경우 사용\n\n <함수 작성 순서(정해진 것은 아님)>\n 1. 프로그램을 먼저 작성(절차적 테스트)\n 2. 오류가 없는 상태로 테스트\n 3. 자주 반복해서 사용되는 부분을 하나의 이름으로 별도로 정의(함수 정의)\n    - 함수 정의시 가급적 -> 정의된 숫자값은 사용하지 않기 \n    - 함수를 정의 규칙 -> 함수 이름은 소문자로 시작합니다.\n                       -> 함수 이름 뒤에는 소괄호()가 항상 있습니다.\n    - 함수 이름 작명할 때 --> getXxx(), setXxx() Ex) getTotal(), setInsert()\n 4. 정의된 함수를 호출하여 사용 (함수 호출.)\n \n ### 프로그램 완성 후 오류가 없는 상태에서 \n     반복되는 코드 확인 \n     반복되는 코드를 함수로 정의 (ex:def 등 임의의 아무 단어 가능 소문자이고 소괄호를 뒤에 붙이고 괄호 안에 자주 사용되는 코드 입력) \n     Ex: def.hello()\n         print(hello world)        -> hello () 출력시 hello world가 나옴\n\n    함수 = 계산기 (자주 사용하고 필요하기에 생성된 계산기)\n'

In [2]:
a = 30
b = 8
tot = a + b      # 파라메타
### 출력 함수
# - print(인자)
# 인자(넘겨주는 쪽, 호출하는 쪽 ) 또는 매개변수(받는 쪽, 정의된 함수 쪽에서 받습니다.)
# - 인자와 매개변수를 통칭해서 파라메타(Parameter)라고 함
# 파이썬 라이브러리에 print라는 함수가 정의되어 있음
print(tot)   # 인자

38

In [3]:
a = 40
b = 8
tot = a + b
tot

48

In [4]:
### 함수 정의하기 (user define function : 사용자 정의 함수, 이를 모아 둔 것이 UDF(사용자 정의 함수 문서))
# - 수행하는 기능 : a와 b의 값을 합해서 화면에 출력해 주는 기능
# showPlus라는 대표 메모리와 a, b, tot라는 메모리 3개 총 4개
def showPlus() : 
    a = 30
    b = 8
    tot = a + b     
    print(tot)

In [5]:
showPlus()

38

In [6]:
### 매개변수(파라메터) 사용
def showPlus(a, b) :  # 파라메터는 a,b 
    # a = 30
    # b = 8
    tot = a + b    # a,b가 어떤 값이 들어올지 모르지만 들어오면 더해서 출력할거야
    print(tot)

In [7]:
### 함수 호출 
showPlus()   
# error showPlus() missing 2 required positional arguments: 'a' and 'b'
# a, b 정의 안됌

TypeError: showPlus() missing 2 required positional arguments: 'a' and 'b'

In [ ]:
showPlus(11,55) # a,b에 각각 11과 55를 입력

In [8]:
### 매개변수(파라메터) + 반환(리턴, return) 사용 함수 정의
def getPlus(a, b) : 
    # a = 30
    # b = 8
    tot = a + b   
    # print(tot)
    
    ### 반환 (리턴, return)
    # - 함수를 호출한 사용자 코드에 값을 다시 전달해줌
    return tot

In [9]:
### 함수 호출하기
# - 반환 받을 것을 그대로 출력하기에 차이 x
getPlus(44, 50)

94

In [10]:
### 반환 받은 것을 받아서 사용 (받은 것은 rs_tot), 결과 값을 받아서 사용을 하겠다면 받아서 사용하면 됌 /// 사용법 차이
rs_tot = getPlus(44, 50)
rs_tot

94

In [75]:
### 매개변수(파라메터) + 반환(리턴, return) 사용 함수 정의
# - 파라메터에 디폴트(defalt)값을 미리 정의해 놓기
#    --> defalt 값은 보통 자주 사용되는 값이 있는 경우에 정의하거나, 
#    --> 초기값(0또는 "")을 정의해 놓고 사용하고자 할 때 미리 정의해서 사용함
# range(0,100,1) => range(100) // 0과 1을 defalt 값이기에 생략해도 문제 X
def getPlus(a=5, b=10) : 
    tot = a + b   
    
    ### 반환 (리턴, return)
    # - 함수를 호출한 사용자 코드에 값을 다시 전달해줌
    return tot

In [76]:
getPlus()   # 출력 값 0
getPlus(50)  # 출력 값 50, a=0 b=0일경우 // a5 b=10인경우 출력값 60 a=50, 6=defalt 값 적용

60

In [13]:
### 여러개의 값들을 반환(리턴)하는 함수 정의
def getPlus(a=5, b=10) : 
    # a = 30
    # b = 8
    tot = a + b   
    # print(tot)
    
    ### 반환 (리턴, return)
    # - 함수를 호출한 사용자 코드에 값을 다시 전달해줌
    return tot, a, b

In [14]:
### 여러개의 값을 반환 받을 때 사용
tot1, a1, b1 = getPlus(11,55) # 결과값 66,11,55 = 더한값, a값, b값
print(tot1, a1, b1)

66 11 55

In [15]:
"""
* 산술연산(+, -, *, /, //, %)을 수행하는 기능(함수)를 정의하기
 - 함수이름 : getMath
 - 파라메터 : 직접 고민하기
 - 함수 기능 
      : 더하기 연산을 하고 싶은경우에 더한 값을 리턴 하기
      : 빼기 연산을 하고 싶은 경우에는 뺀 값을 리턴 받기
      : 곱하기, 나누기 , 나눈 몫, 나눈 나머지 모두 위와 동일하게 처리
"""

'\n* 산술연산(+, -, *, /, //, %)을 수행하는 기능(함수)를 정의하기\n - 함수이름 : getMath\n - 파라메터 : 직접 고민하기\n - 함수 기능 \n      : 더하기 연산을 하고 싶은경우에 더한 값을 리턴 하기\n      : 빼기 연산을 하고 싶은 경우에는 뺀 값을 리턴 받기\n      : 곱하기, 나누기 , 나눈 몫, 나눈 나머지 모두 위와 동일하게 처리\n'

In [16]:
# nong = getMath (+, -, *, /, //, %)

def getMath(a,b, nong) : # 함수 이름 정의
    result = 0  # 초기 값 설정
    if nong == '+':  # + 일경우
        result= a + b
    elif nong == '-':  # - 일경우
        result= a - b
    elif nong == '*':  # * 일경우
        result= a * b
    elif nong == '/':  # / 일경우
        result= a / b
    elif nong == '//':  # // 일경우
        result= a // b
    elif nong == '%':  # % 일경우
        result= a % b

    return result # 함수의 결과를 반환하는 역할

In [17]:
getMath(40,10,'//')

4

In [18]:
### 함수로 만들기 전 절차적으로 테스트 해보기

# mode = "+"
# a = 10
# b = 11

# if mode == "+" :
#     tot = a + b
# elif mode == "-" :
#     tot = a - b
# elif mode == "*" :
#     tot = a * b
# elif mode == "/" :
#     tot = a / b
# elif mode == "//" :
#     tot = a // b
# elif mode == "%" :
#     tot = a % b
# else :
#     print("잘못된 구분자 입니다!")
#     tot = 0

# print(tot)

In [19]:
def getMath(a,b,mode) :
    if mode == "+" : tot = a + b
    elif mode == "-" : tot = a - b
    elif mode == "*" : tot = a * b
    elif mode == "/" : tot = a / b
    elif mode == "//" : tot = a // b
    elif mode == "%" : tot = a % b
    else :
        print("잘못된 구분자 입니다!")
        tot = 0
    return tot

In [20]:
### 함수 호출
rs_tot = getMath("+", 5, 8)
rs_tot = getMath("-", 10, 5)
print(rs_tot)

잘못된 구분자 입니다!
잘못된 구분자 입니다!
0

In [21]:
"""
함수는 만들지 않고
 - 구구단 출력하기
   -- 단, 원하는 단에 대해서만 출력하기 
"""

'\n함수는 만들지 않고\n - 구구단 출력하기\n   -- 단, 원하는 단에 대해서만 출력하기 \n'

In [22]:
a = 7
for n in range(1,10,1) :
    print(f"{a} x {n} = {a * n}입니다.")

7 x 1 = 7입니다.
7 x 2 = 14입니다.
7 x 3 = 21입니다.
7 x 4 = 28입니다.
7 x 5 = 35입니다.
7 x 6 = 42입니다.
7 x 7 = 49입니다.
7 x 8 = 56입니다.
7 x 9 = 63입니다.

In [23]:
### 위의 예제를 함수로 만들기 
# 함수명 : printGdan
# - 함수 기능 : 임의 단을 전달 받아서 출력하는 기능 수행

In [24]:
def printGdan(a) : ## a는 지정 받을 단 ex a=7은 7단
    for n in range(1,10,1) :
        print(f"{a} x {n} = {a * n}입니다.")

In [25]:
printGdan(7)

7 x 1 = 7입니다.
7 x 2 = 14입니다.
7 x 3 = 21입니다.
7 x 4 = 28입니다.
7 x 5 = 35입니다.
7 x 6 = 42입니다.
7 x 7 = 49입니다.
7 x 8 = 56입니다.
7 x 9 = 63입니다.

In [26]:
"""
temp_list = ["홍길동", "이순신", "김유신"]

 - 임의 리스트 변수를 전달 받아서 각 데이터를 출력하는 함수 정의하기 
 - 함수명 : printList
"""

'\ntemp_list = ["홍길동", "이순신", "김유신"]\n\n - 임의 리스트 변수를 전달 받아서 각 데이터를 출력하는 함수 정의하기 \n - 함수명 : printList\n'

In [27]:
# temp_list = ["홍길동", "이순신", "김유신"]

# for val in temp_list:
#      print(val)

In [28]:
### 함수정의
def printList(temp_list):
    for val in temp_list :
        print (val)

In [29]:
### 함수 호출하기
temp_list = ["홍길동", "이순신", "김유신"]
printList(temp_list=temp_list)

홍길동
이순신
김유신

In [30]:
"""
    임의 변수 temp_list = ["홍길동", "이순신", "김유신"]
 위에서 정의한 temp_list를 사용해서
  - 임의 리스트 변수를 전달 받아서 임의 값을 추가하는 함수 . append 사용해보자 - 재원
  - 함수명 : setAppendList
  - 추가 확인은 printlist 함수를 통해서 확인
"""

'\n    임의 변수 temp_list = ["홍길동", "이순신", "김유신"]\n 위에서 정의한 temp_list를 사용해서\n  - 임의 리스트 변수를 전달 받아서 임의 값을 추가하는 함수 . append 사용해보자 - 재원\n  - 함수명 : setAppendList\n  - 추가 확인은 printlist 함수를 통해서 확인\n'

In [78]:
temp_list = ["홍길동", "이순신", "김유신"]
add_name = "홍길동2"
temp_list.append(add_name)

print(temp_list)

['홍길동', '이순신', '김유신', '홍길동2']

In [32]:
### 함수 정의하기
def setAppendList(p_list,p_name) :
    p_list.append(p_name)

In [33]:
temp_list = ["홍길동", "이순신", "김유신"]
### 함수 호출
setAppendList(p_list=temp_list, p_name="김유신2")

In [34]:
### 리스트에 값이 잘 추가되었는지 확인하는 함수 호출
printList(temp_list=temp_list)

홍길동
이순신
김유신
김유신2

In [35]:
"""
구구단 함수 만들기 
 - 함수명 : printGDan 2
 - 기능 : 임의의 시작단과 끝단 전달 받기
        : 곱할 시작값과 끝값 전달 받기
        : 시작단부터 끝단까지의 곱할 시작값과 끝값을 곱하여 출력
 - 예시 
   --> 시작단은 2, 끝단은 3을 전달 받고
       곱할 시작 값을 5, 끝 값을 9를 전달 받았다면 
       2 x 5 = 10
       ~~
       3 x 9 = 27
"""

'\n구구단 함수 만들기 \n - 함수명 : printGDan 2\n - 기능 : 임의의 시작단과 끝단 전달 받기\n        : 곱할 시작값과 끝값 전달 받기\n        : 시작단부터 끝단까지의 곱할 시작값과 끝값을 곱하여 출력\n - 예시 \n   --> 시작단은 2, 끝단은 3을 전달 받고\n       곱할 시작 값을 5, 끝 값을 9를 전달 받았다면 \n       2 x 5 = 10\n       ~~\n       3 x 9 = 27\n'

In [36]:
def printGdan2(dan1,dan2) : ## a는 지정 받을 단 ex a=7은 7단
    for dan1 in range(2,4,1) :
        for dan2 in range(5,10,1) :
            print(f"{dan1} x {dan2} = {dan1 * dan2}입니다.")

In [37]:
printGdan2(2,5)

2 x 5 = 10입니다.
2 x 6 = 12입니다.
2 x 7 = 14입니다.
2 x 8 = 16입니다.
2 x 9 = 18입니다.
3 x 5 = 15입니다.
3 x 6 = 18입니다.
3 x 7 = 21입니다.
3 x 8 = 24입니다.
3 x 9 = 27입니다.

In [38]:
### 위 코드 말고 1~10까지 했을때 선택 가능할 때도 
# 2개를 입력했을 때 
q = 5
w = 7
e  = 3
r  = 5
def printGdan2(q,w,e,r) : 
    for a in range(q,w+1,1) :
        for b in range(e,r+1,1) :
            print(f"{a} x {b} = {a * b}입니다.")

In [39]:
printGdan2(q = 8,w = 9, e = 7, r = 9)

8 x 7 = 56입니다.
8 x 8 = 64입니다.
8 x 9 = 72입니다.
9 x 7 = 63입니다.
9 x 8 = 72입니다.
9 x 9 = 81입니다.

In [40]:
### 여러개의 값을 매개변수로 받아와야 하는 경우
#  - 정해지지 않은 갯수 
#  - 이 때 매개변수명 앞에 별(*)을 붙여서 받아옴
#  - *로 받은 타입은 -> 튜플 타입. 
def getTotSum(*num) :
    print(num)

In [41]:
getTotSum(1,2,3,4,5,6) # 몇개의 데이터가 들어오는지 모르는데 내가 원하는 값까지만 받을 경우 숫자를 이용해 받는다

(1, 2, 3, 4, 5, 6)

In [42]:
### 위 함수(getTotSum)를 수정하여
#  -> 1부터 n까지의 총합을 계산한 후 
#  -> 총합의 결과값을 리턴
#  -> 반환 받은 결과를 출력

def getTotSum(n) :
    result = 0
    for i in range(1,n+1) :
        result += i
    return result

    print(getTotSum(n))

In [43]:
getTotSum(10)

55

In [80]:
def getTotSum(*num) :
    result = sum(num) # sum 함수를 이용해서 결과 값에 입력을하고
    return result # 입력 값을 return을 활용해서 print에 담기
        
print(getTotSum(1,2,3,4,5,6)
### sum 함수익히기

SyntaxError: unexpected EOF while parsing (2174686282.py, line 6)

In [45]:
### 문자열로 여러개의 값 받아오기

def getString(*string) :
    # result = 0
    # for i in range(1,n+1) :
    #     result += i
    # return result

    print(string)

In [46]:
getString("홍길동","이순신","김유신")

('홍길동', '이순신', '김유신')

In [47]:
### setAppendList함수와 getString 함수를 이용해서 
# 이름 여러개의 튜플 타입을 임의 리스트에 추가하기
# 임의 리스트 변수명 : list_temp

list_temp = []
rs_tuple = getString("홍길동","이순신","김유신")
# setAppendList(p_list = list_temp, p_name=rs_tuple)

setAppendList(p_list = list_temp, p_name=getString(("홍길동","이순신","김유신")))

('홍길동', '이순신', '김유신')
(('홍길동', '이순신', '김유신'),)

In [48]:
list_temp

[None]

In [62]:
# def getString(*string) :
     # return string

In [63]:
# list_temp = []
# def setAppendList(p_list,p_name) :
#     list_temp.append(p_name)
#     return string

In [64]:
# setAppendList("이재원")
# 튜플로 먼저 만들고 스트링을 추가해라

In [65]:
### 임의 여러개의 key = value 형태의 값들을 묶어서 받아오기
# - 별 기호(**)를 2개 사용합니다.
# - **의 의미 : key = value로 전달받은 값들을 딕셔너리 타입으로 처리
def getDict(**info) :
    print(info)

In [66]:
getDict(name = "홍길동", age = 30, area = "부산") # 변수명을 key로 name, age 같은 형태

{'name': '홍길동', 'age': 30, 'area': '부산'}

In [74]:
### 위에서 사용한 setAppendList 함수와 getDict 함수를 이용해서 
# - 사용자 정보((name = "홍길동", age = 30, area = "부산")를 딕셔너리 타입으로 
# - 리스트에 추가
# - 리스트 변수명 :list_temp = []
list_temp = []
rs_tuple = getDict(name = "홍길동", age = 30, area = "부산")
setAppendList(p_list = list_temp, p_name=getDict(name = "홍길동", age = 30, area = "부산"))

NameError: name 'string' is not defined