In [1]:
"""
<딕셔너리(dict)>
 - 리스트(list)와 동일하게 여러개의 값을 가지고 다니는 타입 중의 한가지 
 - 리스트(list)와 차이점 : 리스트 메모리는 인덱스가 순서적으로 만들어지지만
                         : 딕셔너리는 순서가 없음
 - 딕셔너리는 key와 value의 한 쌍으로 한개의 데이터가 만들어짐
 - key는 고유한 값만 사용가능하며, key를 이용해서 value의 값을 추출할 수 있음
 - 리스트는 대괄호[]를 사용, 딕셔너리는 중괄호{}를 사용하여 데이터를 정의함
 - 딕셔너리에서 데이터(value의 값)를 추출하고자 할 때는 "딕셔너리 변수[key]" 형태로 작성
 - 딕셔너리 값(value) 수정 => "딕셔너리 변수명[존재하는 key] = 수정할 값" 있으면 수정
 - 딕셔너리 값 추가 => "딕셔너리 변수명[추가할 key] = 추가할 값" 없으면 추가
"""

'\n<딕셔너리(dict)>\n - 리스트(list)와 동일하게 여러개의 값을 가지고 다니는 타입 중의 한가지 \n - 리스트(list)와 차이점 : 리스트 메모리는 인덱스가 순서적으로 만들어지지만\n                         : 딕셔너리는 순서가 없음\n - 딕셔너리는 key와 value의 한 쌍으로 한개의 데이터가 만들어짐\n - key는 고유한 값만 사용가능하며, key를 이용해서 value의 값을 추출할 수 있음\n - 리스트는 대괄호[]를 사용, 딕셔너리는 중괄호{}를 사용하여 데이터를 정의함\n - 딕셔너리에서 데이터(value의 값)를 추출하고자 할 때는 "딕셔너리 변수[key]" 형태로 작성\n'

In [17]:
### 딕셔너리 변수 생성 
data = {}
data = {"name":"홍길동",
        "age": 22,
        "area": "부산"}
print(data)

{'name': '홍길동', 'age': 22, 'area': '부산'}

In [18]:
### key를 이용하여 값(value) 추출하기
data["name"],data["age"],data["area"]

('홍길동', 22, '부산')

In [19]:
### 값 수정하기, 있으면 수정
data["name"] = "이순신"
data["age"] = 50
data["area"] = "서울"
data

{'name': '이순신', 'age': 50, 'area': '서울'}

In [20]:
### 데이터(값) 추가하기, 없으면 추가
data["phone_number"] = "010-1234-5678" 
data

{'name': '이순신', 'age': 50, 'area': '서울', 'phone_number': '010-1234-5678'}

In [21]:
list_name = ["이순신", "홍길동", "김유신"]
list_age = [11, 33, 55]
list_area = ["부산", "서울", "대전"]

print(list_name, list_age, list_area)

['이순신', '홍길동', '김유신'] [11, 33, 55] ['부산', '서울', '대전']

In [22]:
dict_data = {"name": list_name,
             "age": list_age,
             "area": list_area}
dict_data

{'name': ['이순신', '홍길동', '김유신'],
 'age': [11, 33, 55],
 'area': ['부산', '서울', '대전']}

In [23]:
### get() 함수를 이용해서 데이터 추출하기
dict_data["name"], dict_data.get("name")

(['이순신', '홍길동', '김유신'], ['이순신', '홍길동', '김유신'])

In [24]:
### 딕셔너리 내에 key가 존재하지 않으면 오류를 발생합니다
dict_data["name1"]

KeyError: 'name1'

In [25]:
### 딕셔너리 내에 해당 key가 존재하지 않더라도 오류 발생하지 않음
# - key가 없는 경우를 대처할 수 있음(두번째 값으로 대체)
dict_data.get("name1","no")

'no'

In [26]:
### 데이터 삭제하기 
del data["name"]

In [27]:
data

{'age': 50, 'area': '서울', 'phone_number': '010-1234-5678'}

In [28]:
### key 존재 여부 확인하기 : in 사용
# - 리스트에서는 값이 있는지 없는지 확인 했다면
# - 딕셔너리에서는 key가 있는지 없는지 확인합니다
"name" in data, "age" in data

(False, True)

In [31]:
### 이름 중에 홍길동님이 있는지 확인하기
"홍길동" in dict_data["name"]   # dict_data["name"] 자체가 리스트 이기에 앞에 in 함수를 붙이기 가능

True

In [33]:
### 문자열과 정수로만 대부분 이루어짐
dict2 = {1 : " 홍길동", 2 : "홍길동2"}
dict2 = {"name": "홍길동1", "name2" : "홍길동2"}
dict2

{'name': '홍길동1', 'name2': '홍길동2'}

In [1]:
### 딕셔너리 변수 생성 : dict 3
# - key값은 name1 ~ name100
# - value 값은 홍길동 1 ~ 홍길동 100
dict3={}

for i in range (1,101) :
    key = f"name{i}"  
    value = f"홍길동{i}" 
    dict3[key] = value

print(dict3)

{'name1': '홍길동1', 'name2': '홍길동2', 'name3': '홍길동3', 'name4': '홍길동4', 'name5': '홍길동5', 'name6': '홍길동6', 'name7': '홍길동7', 'name8': '홍길동8', 'name9': '홍길동9', 'name10': '홍길동10', 'name11': '홍길동11', 'name12': '홍길동12', 'name13': '홍길동13', 'name14': '홍길동14', 'name15': '홍길동15', 'name16': '홍길동16', 'name17': '홍길동17', 'name18': '홍길동18', 'name19': '홍길동19', 'name20': '홍길동20', 'name21': '홍길동21', 'name22': '홍길동22', 'name23': '홍길동23', 'name24': '홍길동24', 'name25': '홍길동25', 'name26': '홍길동26', 'name27': '홍길동27', 'name28': '홍길동28', 'name29': '홍길동29', 'name30': '홍길동30', 'name31': '홍길동31', 'name32': '홍길동32', 'name33': '홍길동33', 'name34': '홍길동34', 'name35': '홍길동35', 'name36': '홍길동36', 'name37': '홍길동37', 'name38': '홍길동38', 'name39': '홍길동39', 'name40': '홍길동40', 'name41': '홍길동41', 'name42': '홍길동42', 'name43': '홍길동43', 'name44': '홍길동44', 'name45': '홍길동45', 'name46': '홍길동46', 'name47': '홍길동47', 'name48': '홍길동48', 'name49': '홍길동49', 'name50': '홍길동50', 'name51': '홍길동51', 'name52': '홍길동52', 'name53': '홍길동53', 'name54': '홍길동54', 'name55': '홍길동55', 'name56': '홍길동56', 'name57': '홍길동57', 'name58': '홍길동58', 'name59': '홍길동59', 'name60': '홍길동60', 'name61': '홍길동61', 'name62': '홍길동62', 'name63': '홍길동63', 'name64': '홍길동64', 'name65': '홍길동65', 'name66': '홍길동66', 'name67': '홍길동67', 'name68': '홍길동68', 'name69': '홍길동69', 'name70': '홍길동70', 'name71': '홍길동71', 'name72': '홍길동72', 'name73': '홍길동73', 'name74': '홍길동74', 'name75': '홍길동75', 'name76': '홍길동76', 'name77': '홍길동77', 'name78': '홍길동78', 'name79': '홍길동79', 'name80': '홍길동80', 'name81': '홍길동81', 'name82': '홍길동82', 'name83': '홍길동83', 'name84': '홍길동84', 'name85': '홍길동85', 'name86': '홍길동86', 'name87': '홍길동87', 'name88': '홍길동88', 'name89': '홍길동89', 'name90': '홍길동90', 'name91': '홍길동91', 'name92': '홍길동92', 'name93': '홍길동93', 'name94': '홍길동94', 'name95': '홍길동95', 'name96': '홍길동96', 'name97': '홍길동97', 'name98': '홍길동98', 'name99': '홍길동99', 'name100': '홍길동100'}

In [31]:
### 딕셔너리에서 key만 추출하기 == keys
# - key() : key값 모두 리스트 타입으로 반환해 줍니다.
dict3.keys()

dict_keys(['name1', 'name2', 'name3', 'name4', 'name5', 'name6', 'name7', 'name8', 'name9', 'name10', 'name11', 'name12', 'name13', 'name14', 'name15', 'name16', 'name17', 'name18', 'name19', 'name20', 'name21', 'name22', 'name23', 'name24', 'name25', 'name26', 'name27', 'name28', 'name29', 'name30', 'name31', 'name32', 'name33', 'name34', 'name35', 'name36', 'name37', 'name38', 'name39', 'name40', 'name41', 'name42', 'name43', 'name44', 'name45', 'name46', 'name47', 'name48', 'name49', 'name50', 'name51', 'name52', 'name53', 'name54', 'name55', 'name56', 'name57', 'name58', 'name59', 'name60', 'name61', 'name62', 'name63', 'name64', 'name65', 'name66', 'name67', 'name68', 'name69', 'name70', 'name71', 'name72', 'name73', 'name74', 'name75', 'name76', 'name77', 'name78', 'name79', 'name80', 'name81', 'name82', 'name83', 'name84', 'name85', 'name86', 'name87', 'name88', 'name89', 'name90', 'name91', 'name92', 'name93', 'name94', 'name95', 'name96', 'name97', 'name98', 'name99', 'name100'])

In [6]:
### 딕셔너리에서 값(value)만 추출하기 == value
# - value() : value값 모두 리스트 타입으로 반환해 줍니다.
# dict3.values()

In [5]:
### 딕셔너리 내에 key와 value의 모든 값들을 세트로 추출하기
# items() : 각 key와 value의 모든 값들을 리스트 타입으로 반환
#           각 key와 value의 값들은 소괄호()로 묶어서 나옴
#           소괄호() -> 파이썬에서는 소괄호() 타입을 튜플 타입이라고 합니다.
#                     (튜플: 리스트와 기호만 다르고 동일하게 사용되는 형태)
# dict3.items()

In [34]:
# print(dict3)
### key() 함수를 이용해서 
# - 아래와 같이 출력하기 
#   key : name1, value : 홍길동1 입니다.
#   ~ key : name 100, value : 홍길동 100  

# for i in dict3.keys() :
#     print(f" key : {i}, value : {dict3[i]}")

for k in dict3.keys() :
    # print(val) # name 1 ~ 100
    print(f"key : {k}, value : {dict3[k]}")

key : name1, value : 홍길동1
key : name2, value : 홍길동2
key : name3, value : 홍길동3
key : name4, value : 홍길동4
key : name5, value : 홍길동5
key : name6, value : 홍길동6
key : name7, value : 홍길동7
key : name8, value : 홍길동8
key : name9, value : 홍길동9
key : name10, value : 홍길동10
key : name11, value : 홍길동11
key : name12, value : 홍길동12
key : name13, value : 홍길동13
key : name14, value : 홍길동14
key : name15, value : 홍길동15
key : name16, value : 홍길동16
key : name17, value : 홍길동17
key : name18, value : 홍길동18
key : name19, value : 홍길동19
key : name20, value : 홍길동20
key : name21, value : 홍길동21
key : name22, value : 홍길동22
key : name23, value : 홍길동23
key : name24, value : 홍길동24
key : name25, value : 홍길동25
key : name26, value : 홍길동26
key : name27, value : 홍길동27
key : name28, value : 홍길동28
key : name29, value : 홍길동29
key : name30, value : 홍길동30
key : name31, value : 홍길동31
key : name32, value : 홍길동32
key : name33, value : 홍길동33
key : name34, value : 홍길동34
key : name35, value : 홍길동35
key : name36, value : 홍길동36
key : name37, value : 홍길동37
key : name38, value : 홍길동38
key : name39, value : 홍길동39
key : name40, value : 홍길동40
key : name41, value : 홍길동41
key : name42, value : 홍길동42
key : name43, value : 홍길동43
key : name44, value : 홍길동44
key : name45, value : 홍길동45
key : name46, value : 홍길동46
key : name47, value : 홍길동47
key : name48, value : 홍길동48
key : name49, value : 홍길동49
key : name50, value : 홍길동50
key : name51, value : 홍길동51
key : name52, value : 홍길동52
key : name53, value : 홍길동53
key : name54, value : 홍길동54
key : name55, value : 홍길동55
key : name56, value : 홍길동56
key : name57, value : 홍길동57
key : name58, value : 홍길동58
key : name59, value : 홍길동59
key : name60, value : 홍길동60
key : name61, value : 홍길동61
key : name62, value : 홍길동62
key : name63, value : 홍길동63
key : name64, value : 홍길동64
key : name65, value : 홍길동65
key : name66, value : 홍길동66
key : name67, value : 홍길동67
key : name68, value : 홍길동68
key : name69, value : 홍길동69
key : name70, value : 홍길동70
key : name71, value : 홍길동71
key : name72, value : 홍길동72
key : name73, value : 홍길동73
key : name74, value : 홍길동74
key : name75, value : 홍길동75
key : name76, value : 홍길동76
key : name77, value : 홍길동77
key : name78, value : 홍길동78
key : name79, value : 홍길동79
key : name80, value : 홍길동80
key : name81, value : 홍길동81
key : name82, value : 홍길동82
key : name83, value : 홍길동83
key : name84, value : 홍길동84
key : name85, value : 홍길동85
key : name86, value : 홍길동86
key : name87, value : 홍길동87
key : name88, value : 홍길동88
key : name89, value : 홍길동89
key : name90, value : 홍길동90
key : name91, value : 홍길동91
key : name92, value : 홍길동92
key : name93, value : 홍길동93
key : name94, value : 홍길동94
key : name95, value : 홍길동95
key : name96, value : 홍길동96
key : name97, value : 홍길동97
key : name98, value : 홍길동98
key : name99, value : 홍길동99
key : name100, value : 홍길동100

In [46]:
a = 1
b = 2
a, b 

a, b = (10, 50)
a, b 

c, d = 10,50
c, d

_, h = (50, 60)  # 안받고 싶다면 언더라인 _
h

k, v = ('name1', '홍길동1')
k

'name1'

In [53]:
# dict3.items()

In [52]:
# print(dict3)
### key() 함수를 이용해서 
# - 아래와 같이 출력하기 
#   key : name1, value : 홍길동1 입니다.
#   ~ key : name 100, value : 홍길동 100  

for k,v in dict3.items() :
    # print(val) # name 1 ~ 100
    print(f"key : {k}, value : {v}")

key : name1, value : 홍길동1
key : name2, value : 홍길동2
key : name3, value : 홍길동3
key : name4, value : 홍길동4
key : name5, value : 홍길동5
key : name6, value : 홍길동6
key : name7, value : 홍길동7
key : name8, value : 홍길동8
key : name9, value : 홍길동9
key : name10, value : 홍길동10
key : name11, value : 홍길동11
key : name12, value : 홍길동12
key : name13, value : 홍길동13
key : name14, value : 홍길동14
key : name15, value : 홍길동15
key : name16, value : 홍길동16
key : name17, value : 홍길동17
key : name18, value : 홍길동18
key : name19, value : 홍길동19
key : name20, value : 홍길동20
key : name21, value : 홍길동21
key : name22, value : 홍길동22
key : name23, value : 홍길동23
key : name24, value : 홍길동24
key : name25, value : 홍길동25
key : name26, value : 홍길동26
key : name27, value : 홍길동27
key : name28, value : 홍길동28
key : name29, value : 홍길동29
key : name30, value : 홍길동30
key : name31, value : 홍길동31
key : name32, value : 홍길동32
key : name33, value : 홍길동33
key : name34, value : 홍길동34
key : name35, value : 홍길동35
key : name36, value : 홍길동36
key : name37, value : 홍길동37
key : name38, value : 홍길동38
key : name39, value : 홍길동39
key : name40, value : 홍길동40
key : name41, value : 홍길동41
key : name42, value : 홍길동42
key : name43, value : 홍길동43
key : name44, value : 홍길동44
key : name45, value : 홍길동45
key : name46, value : 홍길동46
key : name47, value : 홍길동47
key : name48, value : 홍길동48
key : name49, value : 홍길동49
key : name50, value : 홍길동50
key : name51, value : 홍길동51
key : name52, value : 홍길동52
key : name53, value : 홍길동53
key : name54, value : 홍길동54
key : name55, value : 홍길동55
key : name56, value : 홍길동56
key : name57, value : 홍길동57
key : name58, value : 홍길동58
key : name59, value : 홍길동59
key : name60, value : 홍길동60
key : name61, value : 홍길동61
key : name62, value : 홍길동62
key : name63, value : 홍길동63
key : name64, value : 홍길동64
key : name65, value : 홍길동65
key : name66, value : 홍길동66
key : name67, value : 홍길동67
key : name68, value : 홍길동68
key : name69, value : 홍길동69
key : name70, value : 홍길동70
key : name71, value : 홍길동71
key : name72, value : 홍길동72
key : name73, value : 홍길동73
key : name74, value : 홍길동74
key : name75, value : 홍길동75
key : name76, value : 홍길동76
key : name77, value : 홍길동77
key : name78, value : 홍길동78
key : name79, value : 홍길동79
key : name80, value : 홍길동80
key : name81, value : 홍길동81
key : name82, value : 홍길동82
key : name83, value : 홍길동83
key : name84, value : 홍길동84
key : name85, value : 홍길동85
key : name86, value : 홍길동86
key : name87, value : 홍길동87
key : name88, value : 홍길동88
key : name89, value : 홍길동89
key : name90, value : 홍길동90
key : name91, value : 홍길동91
key : name92, value : 홍길동92
key : name93, value : 홍길동93
key : name94, value : 홍길동94
key : name95, value : 홍길동95
key : name96, value : 홍길동96
key : name97, value : 홍길동97
key : name98, value : 홍길동98
key : name99, value : 홍길동99
key : name100, value : 홍길동100

In [76]:
### 짝수 및 홀수 리스트 깨긋한 변수 2개 생성
# 리스트 변수명 : 짝수 리스트명(list1), 홀수 리스트명(list2)
# - 딕셔너리 데이터의 key 또는 value의 값 뒤에 숫자가 짝수이면 list 1, value값 추가
#                                                     홀수이면 list 2
# - 최종결과 확인 :list 1, list2 
list1 = []
list2 = []

for k in dict3.values(): # k = "홍길동1", k[0] =="홍"
    if int(k[3:]) % 2 == 0: #  홍길동은 문자열이기때문에 int()로 덮어주고 k[3:0]을 이용해 4번째 순서만 사용
        list1.append(k)
    else:
        list2.append(k)

print(list1)
print()
print(list2)

['홍길동2', '홍길동4', '홍길동6', '홍길동8', '홍길동10', '홍길동12', '홍길동14', '홍길동16', '홍길동18', '홍길동20', '홍길동22', '홍길동24', '홍길동26', '홍길동28', '홍길동30', '홍길동32', '홍길동34', '홍길동36', '홍길동38', '홍길동40', '홍길동42', '홍길동44', '홍길동46', '홍길동48', '홍길동50', '홍길동52', '홍길동54', '홍길동56', '홍길동58', '홍길동60', '홍길동62', '홍길동64', '홍길동66', '홍길동68', '홍길동70', '홍길동72', '홍길동74', '홍길동76', '홍길동78', '홍길동80', '홍길동82', '홍길동84', '홍길동86', '홍길동88', '홍길동90', '홍길동92', '홍길동94', '홍길동96', '홍길동98', '홍길동100']

['홍길동1', '홍길동3', '홍길동5', '홍길동7', '홍길동9', '홍길동11', '홍길동13', '홍길동15', '홍길동17', '홍길동19', '홍길동21', '홍길동23', '홍길동25', '홍길동27', '홍길동29', '홍길동31', '홍길동33', '홍길동35', '홍길동37', '홍길동39', '홍길동41', '홍길동43', '홍길동45', '홍길동47', '홍길동49', '홍길동51', '홍길동53', '홍길동55', '홍길동57', '홍길동59', '홍길동61', '홍길동63', '홍길동65', '홍길동67', '홍길동69', '홍길동71', '홍길동73', '홍길동75', '홍길동77', '홍길동79', '홍길동81', '홍길동83', '홍길동85', '홍길동87', '홍길동89', '홍길동91', '홍길동93', '홍길동95', '홍길동97', '홍길동99']

#### 실습

In [ ]:
"""
* 이름, 나이, 지역 데이터 관리하기 
 - 이름, 나이, 지역는 딕셔너리 타입 사용
 - 리스트에 데이터 추가시 {name:이름, age:나이, area:지역} 딕셔너리 형태로 리스트에 추가하여 관리

* 리스트 변수명 : data_list
* [{name:이름, age:나이, area:지역} ,
   {name:이름, age:나이, area:지역} ,
   {name:이름, age:나이, area:지역} ..]
"""

In [138]:
data_list=[]

msg = """아래 번호 중에 하나를 선택하여 주세요(번호로 입력)
0. 종료
1. 리스트에 값 추가 
2. 전체 검색
3. 검색하기(이름검색)
4. 삭제하기
5. 수정하기
"""

while True:
    a = int(input(msg))
    
    if a == 0:
        print("이제 끄으읕~")
        break  
    elif a == 1:
        found = True
        p_name = input("[이름]를 입력해 주세요 : ")

        for person in data_list:
            if person['name'] == p_name:
                print(f"{p_name}의 정보가 이미 존재합니다.")
                found = False
                break
                
        if found == True :
            p_age = input("[나이]를 입력해 주세요 : ")
            p_area = input("지역을 입력해주세요 : ")

            data_list.append({'name': p_name, 'age': p_age, 'area': p_area})
            print(f"{p_name}님의 나이 {p_age}와 지역 {p_area}을 정상적으로 추가하였습니다.")
    
    elif a == 2:
        found = True
        if not data_list:
            print("등록된 정보가 없습니다 !!")
            found = False
            break
        else:
            for person in data_list:
                print(f"{person['name']}님의 나이는 {person['age']}살이고 {person['area']}에 거주하고 있습니다.")
    
    elif a == 3:
        p_name = input("[이름]를 입력해 주세요 : ")

        found = True
        for person in data_list:
            if p_name == person['name']:
                print(f"{person['name']}님의 나이는 {person['age']}살이고 {person['area']}에 거주하고 있습니다.")
                found = False
                break
                    
            if found == False :
                print("등록된 정보가 없습니다.")
            
        else :
            print("더 찾아보세요~")
            
    elif a == 4:
        d_name = input("[이름]를 입력해 주세요 : ")
    
        idx = -1  # 좀 찾자
        found = False 

        for i in range(len(data_list)):
            if data_list[i]['name'] == d_name:
                idx = i  # 좀 찾자
                found = True 
                break  

        if found:
            del data_list[idx]  # 해당 인덱스의 정보를 삭제
            print("정상적으로 삭제되었습니다.")
        else:
            print("등록된 정보가 없습니다.")
                
    elif a == 5:
        if data_list : 
            new_name = input("수정이 필요한 대상의 성함을 입력해주세요")
            found = False

            #있냐?
            for k in data_list:
                if new_name == k["name"]:
                    found = False
                print(f"{person['name']}님의 나이는 {person['age']}살이고 {person['area']}에 거주하고 있습니다.")
                print("""아래 번호 중에 하나를 선택하여 변경할 내용을 알려주세요(번호로 입력):
                1. 이름
                2. 나이 
                3. 지역
                    """)
        haha = int(input("번호를 입력하세요: "))
        
        if haha == 1:
            new_name = input("새로운 이름을 입력하세요: ")
            person['name'] = new_name
            print("원하는 이름으로 변환되었습니다. 축하드립니다.")
        elif haha == 2:
            new_age = input("새로운 나이를 입력하세요: ")
            person['age'] = new_age
            print("나이가 변경되었습니다. 감사합니다.")
        elif haha == 3:
            new_area = input("새로운 지역을 입력하세요: ")
            person['area'] = new_area
            print("주소가 변경되었습니다. 감사합니다.")
        else:
            print("잘못된 선택입니다.")
        break
    # elif a == 5:
    #     print("수정하기")
    #     if data_list:
    #         update_name = input("수정할 대상의 이름을 입력하세요 :")
    #         judge = False
    
    #         # 등록된 사람인지 판단
    #         for dic in data_list:
    #             # 등록된 사람이라면
    #             if update_name == dic["name"]:
    #                 judge = True
    #                 update_info = input("수정하고 싶은 항목을 '이름', '나이', '지역' 중에서 선택해주세요")
    
    #                 if update_info == "이름":
    #                     update_info_name = input("수정할 이름을 입력하세요 :")
    #                     dic['name'] = update_info_name
    #                     print(f'{dic["name"]}님의 나이는{dic["age"]}이고 {dic["area"]}에 거주로 변경되었습니다.')
    
    #                 elif update_info == "나이":
    #                     update_info_age = input("수정할 나이를 입력하세요 :")
    #                     dic['age'] = update_info_age
    #                     print(f'{dic["name"]}님의 나이는{dic["age"]}이고 {dic["area"]}에 거주로 변경되었습니다.')
    
    #                 elif update_info == "지역":
    #                     update_info_area = input("수정할 이름을 입력하세요 :")
    #                     dic['area'] = update_info_area
    #                     print(f'{dic["name"]}님의 나이는{dic["age"]}이고 {dic["area"]}에 거주로 변경되었습니다.')
    
    #                 else:
    #                     print("수정할 수 있는 정보가 아닙니다.")
    #                 break

    #         if judge == False:
    #             print("등록되지 않은 대상입니다.")
                
    #     else:
    #         print("수정할 정보가 없습니다. 정보를 먼저 등록해주세요")

    else:
        print("0, 1, 2, 3, 4, 5번 중에 선택하세요.")

    print()

아래 번호 중에 하나를 선택하여 주세요(번호로 입력)
0. 종료
1. 리스트에 값 추가
2. 전체 검색
3. 검색하기(이름검색)
4. 삭제하기
5. 수정하기
 1
[이름]를 입력해 주세요 :  사나이
[나이]를 입력해 주세요 :  90
지역을 입력해주세요 :  마산

사나이님의 나이 90와 지역 마산을 정상적으로 추가하였습니다.

아래 번호 중에 하나를 선택하여 주세요(번호로 입력)
0. 종료
1. 리스트에 값 추가
2. 전체 검색
3. 검색하기(이름검색)
4. 삭제하기
5. 수정하기
 5
번호를 입력하세요:  2
새로운 나이를 입력하세요:  20

나이가 변경되었습니다. 감사합니다.